{% extends "base.html" %}

{% block content %}
{% if returning %}
<a class="btn btn-warning ms-3 mt-3" href="/profile" role="button">Вернуться в профиль</a>
{% endif %}
<div class="container mt-3" style="width: 50%;">
<form action="" method="post">
    {% if stage == 1 %}
    <h1 class="text-center mt-3 mb-3">Введите почту</h1>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(class="form-control", type="email") }}<br>
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div class="ms-3 me-3">{{ message }}</div>
    {% elif stage == 2 %}
    <h3 class="text-center mt-3 mb-3">Вам на почту выслан код подтверждения, введите его</h3>
            {{ form.hidden_tag() }}
            <p>
                {{ form.code.label }}<br>
                {{ form.code(class="form-control", type="str") }}<br>
                {% for error in form.code.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div class="ms-3 me-3">{{ message }}</div>
            <input type="hidden" name="email" value="{{ email }}">
    {% else %}
    <h1 class="text-center mt-3 mb-3">Введите новый пароль</h1>
            {{ form.hidden_tag() }}
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.check_password.label }}<br>
                {{ form.check_password(class="form-control", type="password") }}<br>
                {% for error in form.check_password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div class="ms-3 me-3">{{ message }}</div>
            <input type="hidden" name="email" value="{{ email }}">
    {% endif %}
    <input type="hidden" name="stage" value="{{ stage }}">
    <input type="hidden" name="code" value="{{ code }}">
</form>
</div>
{% endblock %}