{% extends "base.html" %}

{% block content %}
<div class="container mt-3" style="width: 50%;">
    <h1 class="text-center mt-3 mb-3">Авторизация</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(class="form-control", type="email") }}<br>
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p class="mb-4"><a class="link-opacity-100-hover" href="/auth/forgot_password">Забыли пароль?</a></p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div class="ms-3 me-3">{{ message }}</div>
        </form>
</div>
{% endblock %}
